<div class="chat-card item-card"
     style="font-family: Roboto, sans-serif; font-style: normal;"
     data-actor-id="{{actorId}}" data-item-id="{{itemId}}"
     data-display-challenge="">
    <section class="card-header description collapsible">
        <header class="summary">
            <img class="gold-icon" src="{{img}}" alt="{{title}}">
            <div class="name-stacked border">
                <span class="title" style="font-size: 0.875rem;">{{title}}</span>
                <span class="subtitle" style="font-size: 0.625rem;">
                    {{subtitle}}
                </span>
            </div>
            <i class="fas fa-chevron-down fa-fw"></i>
        </header>

        <section class="details collapsible-content card-content">
            <div class="wrapper">
                <div class="ddb"
                     style="line-height: 1.25; color: #111">
                    <p>
                        {{body}}
                    </p>
                </div>
            </div>
        </section>
    </section>


</div>