<div class="card-content lich-memori-lichdom-necrotic-damage-card"
     data-transformations-card="true"
     data-lich-activity="{{activityId}}"
     data-state="{{state}}">

    {{#if roll}}
        <div class="dice-roll">
            <div class="dice-result">
                <div class="dice-formula">{{rollFormula}}</div>
                {{{tooltip}}}
                <h4 class="dice-total">{{roll}}</h4>
            </div>
        </div>
    {{else}}
        <p>Roll {{rollFormula}} to deal {{damageType}} damage.</p>
    {{/if}}

    <div class="card-buttons">
        {{#if (eq state "initial")}}
            <button type="button"
                    class="dnd5e-button"
                    data-transformations-action="rollDamage">
                Roll Damage
            </button>
        {{/if}}
    </div>
</div>
