<div class="card-content lich-lich-magica-regain-spell-slots-card"
     data-transformations-card="true"
     data-lich-activity="{{activityId}}"
     data-state="{{state}}">

    {{#if resultMessage}}
        <p>{{resultMessage}}</p>
    {{else}}
        <p>{{description}}</p>
    {{/if}}

    <div class="card-buttons">
        {{#if (eq state "initial")}}
            <button type="button"
                    class="dnd5e-button"
                    data-transformations-action="recoverSpellSlot">
                Recover Spell Slot
            </button>
        {{/if}}
    </div>
</div>
