<div class="card-content ooze-legion-of-slime-split-card"
     data-transformations-card="true"
     data-ooze-activity="{{activityId}}"
     data-state="{{state}}">

    {{#if resultMessage}}
        <p>{{resultMessage}}</p>
    {{else}}
        <p>{{description}}</p>
    {{/if}}

    <div class="card-buttons">
        {{#if canPlace}}
            <button type="button"
                    class="dnd5e-button"
                    data-transformations-action="placeDuplicate">
                Place Duplicate
            </button>
        {{/if}}
    </div>
</div>
