<form autocomplete="off" onsubmit="event.preventDefault();">
	<ol class="choices-list">
	   {{#each choices as |advancement name|}}
		<li class="choice flexrow">
			<div class="choice-name flexrow">
				<div class="choice-image" style="background-image: url('{{advancement.icon}}')"></div>
				<h3>{{advancement.label}}</h3>
			</div>
			<div class="choice-controls flexrow">
				<input name="type" type="radio" value="{{name}}">
			</div>
			<div class="choice-hint notes">
				{{advancement.hint}}
			</div>
		</li>
	    {{/each}}
	</ol>

	<button class="dialog-button" data-button="submit" disabled>
		<i class="far fa-save"></i> {{localize "DND5E.AdvancementSelectionCreateButton"}}
	</button>
</form>