<div class="choice-wrapper">
	<div class="choice-container">
		{{#each choices}}
			<button class="choice-card-button" data-action="select" data-choice-id="{{id}}" data-choice-name="{{name}}">
				<div class="choice-hover">
					<p>Right-click to view info</p>
				</div>

				<div class="choice-context">
					{{{details}}}
				</div>

				<img src="{{icon}}" alt="{{name}}">
				<h4>{{name}}</h4>
			</button>
		{{/each}}
	</div>
</div>