<div class="choice-wrapper">

  <!-- RADIO BUTTONS -->
  <fieldset class="choice-radio-group">
    {{#each choices}}
      <label class="choice-radio">
        <input
          type="radio"
          name="choice"
          value="{{id}}"
          data-uuid="{{uuid}}"
          data-id="{{id}}"
          data-name="{{name}}"
          {{#if @first}}checked{{/if}}
        />

        <img src="{{icon}}" alt="{{name}}">
        <span class="choice-name">{{name}}</span>
      </label>
    {{/each}}
  </fieldset>

  <!-- SCROLLABLE DESCRIPTION PANEL -->
  <div class="choice-description-container">
    {{#each choices}}
      <div
        class="choice-description"
        data-choice-id="{{id}}"
        {{#unless @first}}hidden{{/unless}}
      >
        {{{details}}}
      </div>
    {{/each}}
  </div>

  <!-- CHOOSE BUTTON -->
  <footer class="choice-footer">
    <button type="button" data-action="choose" class="choice-confirm">
      Choose
    </button>
  </footer>

</div>
