{{#if (eq transformation "None")}}
    <div class="pill-lg empty roboto-upper" data-action="showConfiguration" data-config="transformation">
        Add Transformation
    </div>
{{else}}
    <div class="draggable pill-lg texture transformation " data-action="showDocument" data-reference-tooltip="{{transformation.uuid}}" data-uuid="{{ transformation.uuid }}">
        {{#if transformation.img}}
        <img class="gold-icon" src="{{ transformation.img }}" alt="{{ transformation.name }}">
        {{/if}}
        <div class="name name-stacked">
            <span class="title">{{ transformation.name }}</span>
            <span class="transformation-stage subtitle">stage {{ transformation.transformationStage }}</span>
        </div>
        {{#if editable}}
        <button type="button" class="config-button unbutton" data-action="showConfiguration" data-config="transformation" data-tooltip="{{transformationConfig}}" aria-label="Configure Transformation">
            <i class="fas fa-cog" inert=""></i>
        </button>
        {{/if}}
    </div>
{{/if}}