{{#if (eq transformation "None")}}
    <div class="pill-lg empty roboto-upper" data-action="showConfiguration" data-config="transformation">
        Add Transformation
    </div>
{{else}}
    <div class="draggable pill-lg texture transformation item-tooltip" data-action="showDocument"
        data-item-id="{{ transformation.id }}" data-uuid="{{ transformation.uuid }}"
        aria-label="{{ localize (ifThen actor.isOwner DND5E.ItemEdit DND5E.ItemView) }}">
        {{#if transformation.img}}
        <img class="gold-icon" src="{{ transformation.img }}" alt="{{ transformation.name }}">
        {{/if}}
        <div class="name name-stacked">
            <span class="title">{{ transformation.name }}</span>
            {{#if editable}}
                <select class="transformationStage unselect" name="actor.flags.dnd5e.TransformationStage">
                    {{ selectOptions DND5E.config.characterFlags.TransformationStage.choices selected=transformation.transformationStage labelAttr="label" }}
                </select>
            {{else}}
                <span class="transformation-stage-select subtitle">stage {{ transformation.transformationStage }}</span>
            {{/if}}
        </div>
        {{#if editable}}
        <button type="button" class="config-button unbutton" data-action="showConfiguration" data-config="transformation" data-tooltip="{{transformationConfig}}" aria-label="Configure Transformation">
            <i class="fas fa-cog" inert=""></i>
        </button>
        {{/if}}
    </div>
{{/if}}