<section class="background-card">

  <header class="background-header">
    {{#if img}}
      <img class="background-icon" src="{{img}}" alt="{{name}}">
    {{/if}}

    <div class="background-titles">
      <h1 class="background-name">{{name}}</h1>
      <h2 class="background-subtitle">Background</h2>
    </div>
  </header>

  <hr>

  <section class="background-body">

    {{#if abilityScores}}
      <p>
        <strong>Ability Scores:</strong>
        {{abilityScores}}
      </p>
    {{/if}}

    {{#if feat}}
      <p>
        <strong>Feat:</strong>
        {{feat}}
      </p>
    {{/if}}

    {{#if skillProficiencies}}
      <p>
        <strong>Skill Proficiencies:</strong>
        {{skillProficiencies}}
      </p>
    {{/if}}

    {{#if toolProficiencies}}
      <p>
        <strong>Tool Proficiency:</strong>
        {{toolProficiencies}}
      </p>
    {{/if}}

    {{#if equipment}}
      <p>
        <strong>Equipment:</strong>
        {{equipment}}
      </p>
    {{/if}}

    {{#if description}}
      <div class="background-description">
        {{{description}}}
      </div>
    {{/if}}

  </section>

</section>
