<aside role="tooltip" popover="manual" style="top: 397px; right: 842px;" class="active themed dnd5e2 dnd5e-tooltip item-tooltip theme-light text-left locked-tooltip"><section class="content">
    <section class="header">
        <div class="top">
            <img src="{{tooltip.icon}}" alt="{{tooltip.name}}">
            <div class="name name-stacked">
                <span class="title">{{tooltip.name}}</span>
                <span class="subtitle">{{tooltip.type}}</span>
            </div>
        </div>
    </section>
    <section class="description"><div class="ddb">
        <h1>{{tooltip.type}}: {{tooltip.name}}</h1>
        <p></p>
        <p>
            {{tooltip.description}}
        </p>
        <div class="section">
        </div>
    </section>
    <ul class="pills">
    </ul>
    <div class="control-hint lock-hint">
        <img src="systems/dnd5e/icons/svg/mouse-middle.svg" alt="Middle Click">
        <span>Middle-click to lock</span>
    </div>
</section>
</aside>