<div class="transformation-config-wrapper">
    <section class="flexcol transformation-config">
        <div class="final-value">{{ preview }}</div>
        <fieldset class="card">
            <ol class="unlist form-grid form-grid-50 types-list" style="--type-rows: {{ rows }};">
                {{#each transformations as |t|}}
                <li style="display: flex; justify-content: right;" class="type-row">
                    <label>
                        <span>{{t.name}}</span>
                        <input type="radio" name="transformation" value="{{t.id}}" {{#if t.selected}}checked{{/if}} {{#unless ../editable}}disabled{{/unless}}>
                    </label>
                </li>
                {{/each}}
                <li style="display: flex; justify-content: right;" class="type-row none">
                    <label for="transformation-type-none">
                        <span>None</span>
                        <input type="radio" name="transformation" value="None" id="">
                    </label>
                </li>
            </ol>
        </fieldset>
    </section>
    
    <footer style="margin-top:10px; display: flex; justify-content: center;" class="sheet-footer">
        {{#if editable}}
        <button type="submit" data-action="save">
            Apply
        </button>
        {{else}}
        <p class="notes">You do not have permission to edit this.</p>
        {{/if}}
    </footer>
</div>