<div class="transformation-config-wrapper">
    <section class="flexcol transformation-config">
        <fieldset class="card">
            <legend>Transformation</legend>
            <ol class="unlist form-grid form-grid-50 types-list" style="--type-rows: {{ rows }};">
                <li style="display: flex;" class="type-row none">
                    <label style="display: flex; align-items: center; width: 100%;" for="transformation-type-none">
                        <p style="margin: 0 auto; text-align: center;">None</p>
                        <input style="margin-left: auto;" type="radio" name="transformation" value="None" id="transformation-type-none" {{#if noneSelected}}checked{{/if}} {{#unless editable}}disabled{{/unless}}>
                    </label>
                </li>
                {{#each transformations as |t|}}
                <li style="display: flex;" class="type-row">
                    <label style="display: flex; align-items: center; width: 100%;" for="transformation-type-{{t.id}}">
                        <p style="margin: 0 auto; text-align: center;">{{t.name}}</p>
                        <input style="margin-left: auto;" type="radio" name="transformation" value="{{t.id}}" {{#if t.selected}}checked{{/if}} {{#unless ../editable}}disabled{{/unless}}>
                    </label>
                </li>
                {{/each}}
            </ol>
        </fieldset>
    </section>

    <section style="margin-top:10px; display: flex; justify-content: center;" class="flexcol transformation-stage-config">
        <fieldset class="card">
            <legend>Transformation Stage</legend>
            <div style="display: flex; justify-content: center; flex-direction: column;" class="form-group">
                <h4 style="margin:auto">Current Stage: {{transformationStage}}</h4>
            </div>
        </fieldset>
    </section>
    
    <footer style="margin-top:10px; display: flex; justify-content: space-around;" class="sheet-footer">
        {{#if editable}}
        <button style="padding-right: 15px; padding-left: 15px" type="submit" data-action="save">
            Add Transformation
        </button>
        {{else}}
        <button style="padding-right: 15px; padding-left: 15px" type="submit" disabled data-tooltip="Transformation can't be changed">
            Add Transformation
        </button>
        {{/if}}
        {{#if canLevelUpStage}}
        <button style="padding-right: 15px; padding-left: 15px" type="submit" data-action="stageUp">
            Level up transformation stage
        </button>
        {{else}}
        <button style="padding-right: 15px; padding-left: 15px" type="submit" disabled data-tooltip="Transformation stage cannot be increased">
            Level up transformation stage
        </button>
        {{/if}}
    </footer>
</div>